p,a{
    color:green;
}

li{
    list-style-type: decimal;
}

li em{
    color: blueviolet;
}

h1+p{
    font-size: 200% ;
}

a:hover{
    color: aquamarine;
    text-decoration: none;
}

body h1+p .special{
    color:chartreuse;
    background-color: burlywood;
    padding: 5px;
}
*{
    background-color: coral;
    border-color: rgb(0, 0, 0);
}

